* {
    box-sizing:border-box;
}
div{
    height:100px;
    margin : 10px
}

.yellow{
    background: rgb(224, 174, 9);
    margin: 10px
}

.black{
    background-color: #1a1b1d;
    color:white;
    margin: 10px
}