* {
    box-sizing:border-box;
}
div{
    height:100px;
    margin : 8px;
    padding: 8px;
    font-family: Palatino;
}

.yellow{
    background: rgb(224, 174, 9);
}

.black{
    background-color: #1a1b1d;
    color:white;
}