* {
    box-sizing:border-box;
}
div{
    height:100px;
    margin-bottom: 4px
}

.yellow{
    background: rgb(224, 174, 9);
    margin-bottom: 4px
}

.black{
    background-color: black;
    color:white;
    margin-bottom: 4px
}